# Keil MDK output
Output/
Listings/
Objects/
*.o
*.obj
*.d
*.crf
*.lnp
*.axf
*.hex
*.bin
*.htm
*.dep
*.iex
*.build_log.htm
*.lst
*.map
*.sct

# Keil user-specific
*.uvguix.*
*.uvoptx
*.dbgconf

# JLink
JLinkLog.txt
*.jlink

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
